body
{
  background-color: #363636;/*#282C34 gray*/
  -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */

  box-sizing: border-box;
  font-size: 15px;
  font-family: Helvetica\ Neue,Helvetica,Arial,sans-serif; /* a changer*/
  color: #fff;
}

form
{
  /* Uniquement centrer le formulaire sur la page */
  margin-top: 3%; /*top right bot left*/
  width: auto;

  /* Encadré pour voir les limites du formulaire */
  padding: 5px;
  border: 1px solid black;
  border-radius: 1em;
}

h3
{
  margin: 2%; /*top right bot left*/
  text-align: center;
  padding-bottom: 5px;
}

.div_radio_adkami /* changer le nom de la class dans js*/
{
  /* border: 1px solid red; */
  display: inline;
  margin-left: 26px;
}

#pi_adkmi
{
  margin-left: 10%;
  /* border: 1px solid yellow; */
}

.label_radio_adkami_yes
{
  margin-left: 35px;
  line-height: 32px;
  /* border: 1px solid purple; */
  cursor: pointer;
}

#adkami_yes
{
  position: relative;
  left: -50px;
  cursor: pointer;
}

.label_radio_adkami_no
{
  margin-left: 25px;
  line-height: 32px;
  /* border: 1px solid orange; */
  cursor: pointer;
}

#adkami_no
{
  position: relative;
  left: -45px;
  cursor: pointer;
}

.div_data
{
  margin-top: 10px;
  display: block;
  border: 1px solid #363636;
}

.label_data
{
  margin-left: 30px;
  margin-right: 40px;
}

#title
{
  text-align: center;
  height: 15px;
  width: 187px;
  font-size: 15px;
}

.div_type_epis
{
  display: initial;
  margin-left: 9px;
}

#type_episode
{
  margin-left: -5px;
  text-align: center;
}

.type_episode_episode
{
  margin-left: -10px;
  line-height: 31px;
  cursor: pointer;
  margin-right: -4px;
}

#type_epis_episode
{
  position: relative;
  left: -76px;
  cursor: pointer;
}

.type_episode_oav
{
  margin-left: 5px;
  line-height: 31px;
  cursor: pointer;
  margin-right: -4px;
}

#type_epis_oav
{
  position: relative;
  left: -49px;
  cursor: pointer;
}

.type_episode_movie
{
  margin-left: 10px;
  line-height: 31px;
  cursor: pointer;
  margin-right: -4px;
}

#type_epis_movie
{
  position: relative;
  left: -62px;
  cursor: pointer;
}

#day
{
  margin-left: 82px;
  text-align: center;
  height: 15px;
  width: 82px;
  font-size: 15px;
  margin-bottom: 7px;
}

#hours
{
  margin-left: 77px;
  text-align: center;
  height: 15px;
  width: 85px;
  font-size: 15px;
  margin-right: 23px;
}

.div_Voice
{
  display: initial;
  margin-left: 77px;
  margin-right: 60px;
}

.voice_vostfr
{
  margin-left: 7px;
  line-height: 31px;
  cursor: pointer;
  margin-right: -4px;
}

#voice_Vostfr
{
  position: relative;
  left: -60px;
  cursor: pointer;
}

.voice_vf
{
  margin-left: 13px;
  line-height: 31px;
  cursor: pointer;
  margin-right: -4px;
}

#voice_Vf
{
  position: relative;
  left: -36px;
  cursor: pointer;
}

#url_Picture
{
  text-align: center;
  height: 15px;
  width: 193px;
  font-size: 15px;
  margin-bottom: 8px;
}

#lastEpisodeRelease
{
  text-align: center;
  height: 15px;
  width: 193px;
  font-size: 15px;
  margin-bottom: 8px;
}

#lastEpisodeRelease
{
  text-align: center;
  height: 15px;
  width: 60px;
  font-size: 15px;
  margin-right: 60px;
}

#form_button
{
  margin: 5px 0px 5px 162px ;
  width: 62px;
  font-size: 15px;
}
